/*For the styling of containers*/

body {
    background-color: #eae3da;
    font-family: "Noto Sans", sans-serif;
}

.container {
    max-width: 1200px;
}

.container-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 50px;
    color: #5f891d;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.footer{
    margin-top:3rem;
}