/*Navbar Styling*/

.customNavbar{
    background-color: #5e881d;
    height: 100px;
}

.nav{
    display: flex;
    align-items: center;
}

.navLink {
    font-size: 17px;
    font-weight: 600;
    margin: 0 15px;
    transition: color 0.3s ease;
    color: #eae3da;
    text-transform: uppercase;
    text-decoration: none;
}

.navLink:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navLink.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    min-width: 100px;
    border-radius: 5px;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    color: #5f891d;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

