button {
    width: 70px;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    background-color: rgba(95, 137, 29, 0.8);
    color: white;
    border: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}










