.welcomeContainer {
    display : flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image:url("../images/healthy-food-table.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
}

.welcomeContainer h1 {
    text-align: center;
    color: #5e881d;
    font-weight: bold;
    font-size: 60px;
}

.newRecipeForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:30%;
    height: 45px;
}

#field {
    width: 80%;
    height: 100%;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

#field input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 30px;
}

#button {
    width: 20%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    padding: 0;
}

#button button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(95, 137, 29, 0.8);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0;
}

#button button:hover {
    background-color: rgba(95, 137, 29, 1.0);
}