/*CSS for Recipe Overview page*/
.recipeDetailContainerBorder {
    background-color: #eae3da;
    border: 1px solid #5e881d;
    margin-top: 10px;
}
.recipeDetailContainer {
    display: grid;
    grid-template-areas:
    "recipeName recipeName"
    "recipePicture recipeMetadata"
    "recipeIngredients recipeDirections";
    grid-template-columns: 1fr 2fr;
    gap: 1px;
    background-color: #eae3da;
    padding: 1px;
}
.recipeDetailContainer div {
    background-color: #eae3da;
    border: 1px solid #5e881d;
    padding: 10px;
}
.recipeDetailContainer div.recipeName {
    grid-area: recipeName;
}
.recipeDetailContainer div.recipePicture {
    grid-area: recipePicture;
}
.recipeDetailContainer div.recipeMetadata {
    grid-area: recipeMetadata;
}
.recipeDetailContainer div.recipeIngredients {
    grid-area: recipeIngredients;
}
.recipeDetailContainer div.recipeDirections {
    grid-area: recipeDirections;
}