/*CSS for Recipe Detail page*/
.recipeDetailCard {
    margin: 10px;
    width: auto;
    height: auto;
    text-align: left;
    background-color: white;
    padding: 16px;
    border-radius: 20px;
}

.recipeDetailMetadata {
    height: 45px;
    font-size: 15px;
}

.recipeIngredients p {
    margin-bottom: 0px;
}

.recipeOverviewCard-Info {
    margin-top: 5px;
}

.recipeDetailInfo p {
    margin-top: 4px;
}

.recipeDetailCategories {
    margin-top: 10px;
    justify-content: left;
}

.recipeDetailContainer {
    display: grid;
    grid-template-areas:
    "recipeName recipeName"
    "recipePicture recipeMetadata"
    "recipeIngredients recipeDirections";
    grid-template-columns: 1fr 2fr;
    gap: 1px;
    padding: 0px;
    align-items: start;
}

.recipeDetailContainer div.recipeName {
    grid-area: recipeName;
    padding: 5px;
}

.recipeDetailContainer div.recipePicture {
    grid-area: recipePicture;
    padding: 10px;
}

.recipeDetailContainer div.recipeMetadata {
    grid-area: recipeMetadata;
    padding: 5px;
}

.recipeDetailContainer div.recipeIngredients {
    grid-area: recipeIngredients;
}

.recipeDetailContainer div.recipeDirections {
    grid-area: recipeDirections;
}

.recipeDescription {
    padding-top: 5px
}
.ingredientsTable td {
    padding-right: 20px;
}

.fancy-steps {
    counter-reset: step;
    list-style: none;
    padding-left: 0;
    padding-top: 1em;
}

.fancy-steps li {
    counter-increment: step;
    position: relative;
    margin-bottom: 1em;
    border-radius: 6px;
    padding: 0.5em 3em;
}

.fancy-steps li::before {
    content: counter(step);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    background-color: #5e881d;
    color: white;
}
