<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${formCategory.categoryId == null}">ReceptenRadar | Nieuwe category</title>
    <title th:unless="${formCategory.categoryId == null}"
           th:text="'ReceptenRadar | ' + ${formCategory.categoryName}"></title>
</head>

<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1 th:if="${formCategory.categoryId == null}">Voeg een nieuwe category toe</h1>
    <h1 th:unless="${formCategory.categoryId == null}" th:text="|Wijzig ${formCategory.categoryName}|"></h1>

    <form class="formCategoryIngredient" th:action="@{/category/save}" th:object="${formCategory}" method="post">
        <input type="hidden" th:field="*{categoryId}">
        <label class="formNameLabel" for="categoryName">Hoe wil je deze category noemen?:</label>
        <input class="formNameInput" type="text" th:field="*{categoryName}" id="categoryName">
        <input type="submit" value="Opslaan">
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>

<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>