<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{fragments/general :: baseheader(~{:: title})}">
        <title>Categorieën</title>
    </head>

    <body>
        <div th:replace="~{fragments/general :: navbar}"></div>

        <div class="container">

            <h1>Overzicht van alle categorieën</h1>

            <div>
<!--                <div class="categoryOverview">-->
                    <a th:each="category : ${allCategories}"
                       th:href="@{/category/edit/{name}(name = ${category.categoryName})}"
                       class="category-link">
                        <span th:text="${category.categoryName}"></span>
                    </a>
<!--                </div>-->
            </div>
            <a th:href="@{/category/add}" class="btn btn-primary">Nieuwe categorie</a>

        </div>

        <div th:replace="~{fragments/general :: footer}"></div>

        <div th:replace="~{fragments/general :: bottomScripts}"></div>
    </body>

</html>