<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{fragments/general :: baseheader(~{:: title})}">
        <title>ReceptenRadar | Ingrediënten</title>
    </head>

    <body>
        <div th:replace="~{fragments/general :: navbar}"></div>

        <div class="container">
            <h1>Overzicht van alle ingrediënten</h1>

            <div class="ingredient-card-display row">
                <div th:each="ingredient : ${allIngredients}" class="mb-4">
                    <div class=" card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <p th:text="${ingredient.ingredientName}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <a th:href="@{/ingredient/add}" class="btn btn-primary">Nieuw ingrediënt</a>
        </div>

        <div th:replace="~{fragments/general :: footer}"></div>

        <div th:replace="~{fragments/general :: bottomScripts}"></div>
    </body>

</html>