<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{fragments/general :: baseheader(~{:: title})}">
        <title>ReceptenRadar | Ingrediënten</title>
    </head>

    <body>
        <div th:replace="~{fragments/general :: navbar}"></div>

        <div class="container">

            <h1 class="header-categorie-ingredient">Overzicht van alle ingrediënten</h1>

            <div>
                <div class="typeOverview">
                    <div th:each="ingredient : ${allIngredients}" class="type-container">
                        <a class="type type-name">
                            <span th:text="${ingredient.ingredientName}"></span>
                        </a>
                        <a th:href="@{/ingredient/edit/{ingredientName}(ingredientName = ${ingredient.ingredientName})}"
                           class="btn type type-edit-link">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </div>
                </div>

                <a th:href="@{/ingredient/add}" class="btn type type-btn">Nieuw ingrediënt</a>
            </div>
        </div>

        <div th:replace="~{fragments/general :: footer}"></div>

        <div th:replace="~{fragments/general :: bottomScripts}"></div>
    </body>

</html>