<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

</head>

<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all ingredients</h1>

    <div class="ingredient-card-display row">
        <div th:each="ingredient : ${allIngredients}" class="mb-4">
            <div class=" card text-center" style="width: 18rem;">
                <div class="card-body">
                    <p th:text="${ingredient.ingredientName}"></p>
                </div>
            </div>
        </div>
    </div>

    <a th:href="@{/ingredient/add}" class="btn btn-primary">Add ingredient</a>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>