<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{fragments/general :: baseheader(~{:: title})}">
        <title>ReceptenRadar | Recepten </title>
    </head>

    <body>
        <div th:replace="~{fragments/general :: navbar}"></div>

        <div class="newRecipeContainer">

                <form class="newRecipeForm" th:action="@{/recipe/save}" th:object="${formRecipe}" method="post">

                    <div id="field" class="newRecipeContainer-field">
                        <input type="text" th:field="*{recipeName}" id="recipeName" placeholder="Voeg een recept toe">
                    </div>

                    <div id="button" class="newRecipeContainer-button">
                        <button type="submit" value="Opslaan">Opslaan</button>
                    </div>

                </form>
        </div>

        <div class="container">
            <div class="container-title">
                <h1>Alle recepten</h1>
            </div>

<!--            <div th:replace="~{fragments/general :: categorySelector}"></div>-->

            <div class="container-body">
                <div th:each="recipe : ${allRecipes}" class="container-body-cards">
                    <div th:replace="~{fragments/general :: recipeOverviewCard}"></div>
                </div>
            </div>

        </div>

        <div th:replace="~{fragments/general :: footer}"></div>

        <div th:replace="~{fragments/general :: bottomScripts}"></div>
    </body>

</html>