<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{fragments/general :: baseheader(~{:: title})}">
        <title>ReceptenRadar | Recepten </title>
    </head>

    <body>
        <div th:replace="~{fragments/general :: navbar}"></div>

        <div class="welcomeContainer">
            <h1 th:if="${user != null}">
                Welkom, <span th:text="${user.username}"></span>!
            </h1>
            <h1 th:if="${user == null}">
                Welkom!
            </h1>
        </div>


        <div class="container">

            <div class="container-title" th:if="${user != null}">
                <h2>Jouw favoriete categorieën</h2>
            </div>

            <div th:if="${user != null}">
                <div class="userFavoriteCategories" th:if="${userFavoriteCategories != null and !userFavoriteCategories.isEmpty()}">
                    <div th:each="category : ${userFavoriteCategories}" class="userFavoriteCategoryItem">
                        <a th:href="@{/recipe/all/{categoryName}(categoryName=${category.categoryName})}">
                            <span th:text="${category.categoryName}"></span>
                        </a>
                    </div>
                </div>

                <div th:if="${userFavoriteCategories == null or userFavoriteCategories.isEmpty()}">
                    <p>Je hebt nog geen recepten geliket.</p>
                </div>
            </div>


            <div class="container-title">
                <h2>Alle recepten</h2>
            </div>

            <div class="container-body">

                <div th:replace="~{fragments/general :: addRecipeCard}"></div>

                <div th:each="recipe : ${allRecipes}" class="container-body-cards">
                    <div th:replace="~{fragments/general :: recipeOverviewCard}"></div>
                </div>
            </div>

        </div>

        <div th:replace="~{fragments/general :: addRecipeModal}"></div>

        <div th:replace="~{fragments/general :: footer}"></div>

        <div th:replace="~{fragments/general :: bottomScripts}"></div>
    </body>

</html>